@import "reset.css";
h1 {
    position: absolute;
    width: 441px;
    height: 84px;
    left: 497px;
    top: 253px;

    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 140.62%;
    /* or 84px */

    text-align: center;

    color: #FFFFFF;
}

body{ background-color: #514C48;
    
}

.container{
    margin: 0 auto;
    width: 1080px;
}

.profilebox {
    background-color: #2D2A2A;
    width: 1200px;
    height: 355px;
    left: 120px;
    top: 412px;
    border-radius: 30px;
    position: absolute;
}

.likebox {
    background-color: #FFFFFF;
    position: absolute;
    width: 1200px;
    height: 350px;
    left: 125px;
    top: 1007px;
    border-radius: 5px;
    position: absolute;
}
.myposting {
    position: absolute;
    width: 1200px;
    height: 350px;
    left: 125px;
    top: 1590px;
    background: #F6F6F6;
    border-radius: 5px;
}

.mycomment {
    position: absolute;
    width: 1200px;
    height: 350px;
    left: 125px;
    top: 2173px;
    background: #F6F6F6;
    border-radius: 5px;
}

h2 {
    font-family: 'KoPubDotum Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140.62%;
    /* or 56px */
    color: #FFFFFF;
    
}

img {
    position: absolute;
    width: 208px;
    height: 208px;
    left: 140px;
    top: 65px;
    border-radius: 100px;
    
}

p {
    background: #4E4E4E;
    position :relative;
    width: 500px;
    height: 40px;
    left: 520px;
    color: #FFFFFF;
    top: 80px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

a {
    color: #FFFFFF;
}