@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');
@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* title과 background는 main_p.css에서 */
.login_structure{
    margin-top: 3% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
    padding: 100px 0px;
    border-radius: 20px;
}
.login_structure_inner{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_structure_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%
}

.login_structure_form_item{
    width: 60%;
    height: 36px;
    margin-bottom: 30px;
    border-top : none;
    border-left : none;
    border-right : none;
    opacity: 0.5;
    transition: 0.4s ease-in-out;
}
.login_structure_form_item::placeholder{
    opacity: 0.5;
    transition: 0.4s;
}
.login_structure_form_item:hover{
    opacity: 1.0;
    transition: 0.4s;
}
.login_structure_form_item:hover::placeholder{
    transition: 0.4s;
    opacity: 1.0;
}
.login_structure_form_item:focus{
    transition: 0.4s;
    opacity: 1.0;
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  

.login_structure_form_submit{
    border: none;
    width: 60%;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.login_structure_form_submit:hover{
    -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.login_structure_form_submit_google_a{
    width: 100%;
    display: flex;
    justify-content: center;
}
.login_structure_form_submit_google{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 59.5%;
    height: 40px;
}
.login_structure_form_submit_google > i{
    margin-right: 5px;
}
.login_structure_form_submit_google:hover{
    -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.login_structure_form_check {
    margin-bottom: 20px;
}
.login_structure_form_check > div{
    display: flex;
    align-items: center;
}
.login_create_account{
    margin-top: 20px;
    opacity: 0.8;
}

.signup_bottom{
    margin-bottom: 50px;
}