{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="background">
    <div class="myp_background">
        <section>
            <h1 class="title">My Profile</h1>
        </section>

        <section class="editinfo_s">

            <div class="editinfo_subtitle">회원정보수정</div>

            <div class="editinfo_box">
                <form action="{% url 'accounts:updateinfo' %}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}

                    <div class="ei_content">이름</div>
                    <div class="ei_blank"><input value="{{profile.name}}" required type="text" name="name"
                            style="width: 55%;"></div>

                    <div class="ei_content">학교</div>
                    <div class="ei_blank"><input value="{{profile.university}}" required type="text" name="university"
                            style="width: 55%;"></div>

                    <div class="ei_content">전공</div>
                    <div class="ei_blank"><input value="{{profile.major}}" required type="text" name="major"
                            style="width: 55%;"></div>

                    <div class="ei_content">복수전공</div>
                    <div class="ei_blank"><input value="{{profile.major2}}" type="text" name="major2"
                            style="width: 55%;"></div>

                    <div class="ei_content">입학연도
                        <select name="register" style="padding-left: 1%; margin-left: 2%;">
                            <script>
                                for (i = 2022; i >= 1970; i--) {
                                    document.write(
                                        "<option value=" + i + ">" + i + "</option>"
                                    )
                                }
                            </script>
                        </select>
                    </div>

                    <div class="ei_bnt_s">
                        <button class="ei_bnt" type="submit">적용</button>
                    </div>

                </form>
            </div>
        </section>

    </div>
    {% endblock %}