{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}

<!DOCTYPE html>
<html lang="ko-kr">
<div id="background">
    <div class="login_background">
        <section>
            <h1 class="login_title">Login</h1>
        </section>
    
        <!--로그인 부분  -->
        <section class="login_s">

            <div class="id_all">
                <div class="id_all_ment">아이디</div>
                <input type="email" class="id_all_blank"  placeholder="enter your id">
            </div>

            <div class="id_all">
                <div class="id_all_ment">비밀번호</div>
                <input type="password" class="id_all_blank"  placeholder="enter your password">
            </div>

            <div class="login_check_box">
            <input type="checkbox" class="remember_id_c" id="customCheck">
            <label class="remember_id" for="customCheck">아이디 저장</label>
            </div>

            <div class="login_box">
            <a href="{% url 'main:showmain' %}" style="text-decoration: none; color: black">로그인</a>
            </div>

            <div class="google_box">
            <img class="google_image" src="{% static 'images/goo_logo.png'%}" alt="">
            <a href="{% provider_login_url 'google' %}" style="text-decoration:none; color: black">Google 계정으로 로그인하기</a>
            </div>

            <div class="signup_box">회원가입하기</div>

        </section>

    </div>
</div>
{% endblock %}