{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="background">
    <div class="myp_background">
        <section>
            <h1 class="myp_title">MANHAECLUB</h1>
        </section>

        <!--마이 페이지 프로필  -->
        <section class="profile_box_s">
            <div class="profile_box" >
                <img class="profile_image" src="{% static 'images/person_icon.png'%}" alt="">
                <div class="profile_items">
                    <div class="profile_item">
                        <div class="profile_user">닉네임</div>
                        <div class="profile_user_box">{{profile.user}}</div>
                    </div><br>
    
                    <div class="profile_item">
                        <div class="profile_name">이름 </div>
                        <div class="profile_name_box">{{profile.name}}</div>
                    </div><br>
                    
    
                    <div class="profile_item">
                        <div class="profile_univ">학교</div>
                        <div class="profile_univ_box">{{profile.university}}</div>
                    </div><br>
    
                    <div class="profile_item">
                        <div class="profile_major">전공</div>
                        <div class="profile_major_box">{{profile.major}}</div>
                    </div>
                    <br>

                    <div class="profile_item">
                        <div class="profile_major">복수전공</div>
                        <div class="profile_major_box">{{profile.major2}}</div>
                    </div>
                    <br>

                    <div class="profile_item">
                        <div class="profile_major">입학연도</div>
                        <div class="profile_major_box">{{profile.register}}</div>
                    </div>
                    <br>
                    <a style="text-decoration: none" class = "myp_edit" href="{% url 'accounts:editinfo' %}">수정</a>
                </div>
                
            </div>

        </section>

        <!--좋아요 한 글 목록 -->
        <section class="profile_other_s">
            <div class="">좋아요 한 글 목록</div>
            <div class="">

            </div>
        </section>

         <!--내가 쓴 글 -->
         <section class="profile_other_s">
            <div class="myposting_list">내가 쓴 글</div>
            <div class="myposting_box"></div>
        </section>

         <!--댓글 단 글  -->
         <section class="profile_other_s">
            <div class="mycomment_list">댓글 단 글</div>
            <div class="mycomment_box"></div>
        </section>

    </div>
<div>

    
{% endblock %}