{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="background">
    <div class="myp_background">
        <section>
            <h1 class="myp_title">MANHAECLUB</h1>
        </section>

        <!--마이 페이지 프로필  -->
        <section class="profile_box_s">
            <div class="profile_box" >
                <img class="profile_image" src="{% static 'images/person_icon.png'%}" alt="">
                <div class="profile_items">
                    <div class="profile_item">
                        <div class="profile_item_item">
                            <div class="profile_name">이름(닉네임)</div>
                            <div class="profile_name_box">{{profile.name}} ({{profile.user}})</div>
                        </div>
                        <div class="profile_item_item">
                            <div class="profile_univ">학교</div>
                            <div class="profile_univ_box">{{profile.university}}</div>
                        </div>
                    </div>
                    <div class="profile_item">
                        <div class="profile_item_item">
                            <div class="profile_major">전공</div>
                            <div class="profile_major_box">{{profile.major}}</div>
                        </div>
    
                        <div class="profile_item_item">
                            <div class="profile_major2">복수전공</div>
                            <div class="profile_major2_box">{{profile.major2}}</div>
                        </div>
                    </div>
                    <div class="profile_item_item">
                        <div class="profile_register">입학연도</div>
                        <div class="profile_register_box">{{profile.register}}</div>
                    </div>
                    <div class="profile_item_edit"><a style="text-decoration: none" class = "myp_edit" href="{% url 'accounts:editinfo' %}">수정</a></div>
                </div>
                
            </div>

        </section>

        <!--좋아요 한 글 목록 -->
        <section class="profile_other_s">
            <div class="myp_list">좋아요 한 글 목록</div>
            {% for likepost in likeposts %}
            <div class="myp_all_box">
                <div class="myp_set">
                    <div class="myp_type" style="padding-right: 5px; margin-right: 10px; border-right: 2px solid #5c5c5c; width: 10%;">매거진</div>
                    <div class="myp_category">
                        <a href="{% url 'main:detail' likepost.id %}" style="text-decoration: none; color :#989898;">
                            [{{likepost.category}}] {{likepost.title}}</a>
                    </div>
                </div>
               
           
            {% endfor %}

            {% for likecommunity in likecommunities %}     
                <div class="myp_set">
                    <div class="myp_type" style="padding-right: 5px; margin-right: 10px; border-right: 2px solid #5c5c5c; width: 10%;">커뮤니티</div>
                    <div class="myp_category">
                        <a href="{% url 'main:community_detail' likecommunity.id %}" style="text-decoration: none; color :#989898;">
                            [{{likecommunity.category}}] {{likecommunity.title}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </section>

        <!--내가 쓴 글 -->
        <section class="profile_other_s">
            <div class="myp_list">내가 쓴 글</div>
            {% for mypost in myposts %}
            <div class="myp_all_box">
                <div class="myp_set">
                    <div class="myp_type" style="padding-right: 5px; margin-right: 10px; border-right: 2px solid #5c5c5c; width: 10%;">매거진</div>
                    <div class="myp_category">
                        <a href="{% url 'main:detail' mypost.id %}" style="text-decoration: none; color :#989898;">
                            [{{mypost.category}}] {{mypost.title}}</a>
                    </div>
                </div>
            {% endfor %}

            {% for mycommunity in mycommunities %}
                <div class="myp_set">
                    <div class="myp_type" style="padding-right: 5px; margin-right: 10px; border-right: 2px solid #5c5c5c; width: 10%;">커뮤니티</div>
                    <div class="myp_category">
                            <a href="{% url 'main:community_detail' mycommunity.id %}" style="text-decoration: none; color :#989898;">
                                [{{mycommunity.category}}] {{mycommunity.title}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

        <!--댓글 단 글  -->
        <section class="profile_other_s">
            <div class="myp_list">댓글 단 글</div>
            {% for mycomment in mycomments %}
            <div class="myp_all_box">
                <div class="myp_set">
                    <div class="myp_type" style="padding-right: 5px; margin-right: 10px; border-right: 2px solid #5c5c5c; width: 10%;">매거진</div>
                    <div class="myp_category">
                        <a href="{% url 'main:detail' mycomment.post.id %}" style="text-decoration: none; color :#989898;">
                                [{{mycomment.post.category}}] {{mycomment.post.title}}</a>
                    </div>
                </div>
            {% endfor %}
            
            {% for mycommunitycomment in mycommunitycomments %}
                <div class="myp_set">
                    <div class="myp_type" style="padding-right: 5px; margin-right: 10px; border-right: 2px solid #5c5c5c; width: 10%;">커뮤니티</div>
                    <div class="myp_category">
                        <a href="{% url 'main:community_detail' mycommunitycomment.community.id %}" style="text-decoration: none; color :#989898;">
                            [{{mycommunitycomment.community.category}}] {{mycommunitycomment.community.title}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

    </div>
<div>

    
{% endblock %}