{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    
    <link href="{% static 'admin/css/mypage.css' %}" rel="stylesheet" type="text/css">

</head>

<body>
    <section>
    
        <div calss="container">
        <h1>MANHAECLUB</h1>
    
        <article>

        <div class="profilebox" >
            <img class="profile_image" src="{% static 'images/person_icon.png'%}" alt="">
            <p>닉네임 : {{profile.user}}</p>
            <p>이름 : {{profile.name}}</p>
            <p>학교 : {{profile.university}}</p>
            <p>학과 : {{profile.major}}</p>

            <a href="{% url 'accounts:editinfo' %}">수정하기</a>
            

        </div>
        
        <h2 style="position: absolute; width: 285px; height: 56px; left: 206px; top: 908px;">좋아요 한 글 목록</h2>    
        
        <div class="likebox">
            
        </div>

        <h2 style ="position: absolute; width: 163px; height: 56px; left: 206px; top: 1491px;">내가 쓴 글</h2>
        
        <div class="myposting">
            {% for mypost in myposts %}
            <a href="{% url 'main:detail' mypost.id %}">
                {{mypost}}
            </a>
            {% endfor %}
        </div>

        <h2 style="position: absolute; width: 163px; height: 56px; left: 206px; top: 2074px;">댓글 단 글</h2>
        
        <div class="mycomment">
            
        </div>

        </article>

    </div>

    </section>
</body>



{% endblock %}