{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="background">
    <section class="about_back">
        <section class="title">
            <p>MANHAECLUB</p>
        </section>
        <section class="about_posting ">
            <div class="about_posting_info">
                <div class="about_posting_info_title about_first hideen">INSIGHT</div>
                <div class="about_posting_info_p about_posting_info_p_first hideen">
                    <div class="about_posting_info_p_title">
                        학습된 무기력 이론을 아시나요?
                    </div>
                    <div class="about_posting_info_p_p">
                        <section style="margin-bottom: 2%;" class="about_posting_info_p_p_first">
                            피할 수 없는 전기충격에 오래 노출된 개들은 나중에 도피 가능한 상황이 되어도 도피를 학습하지 못하는 반면, 전기충격에 노출이 되어 있지 않았던 개들은 도피 기술을
                            빠르게 학습한다는 이론입니다.
                        </section>
                        <section class="about_posting_info_p_p_second">
                            할리우드 영화의 촬영 감독 데뷔를 꿈꾸는 친구가 있습니다. 그게 가능하겠냐고 물었더니, 실제로 한국 최초로 할리우드 촬영감독으로 진출한 정정훈
                            촬영감독(동국대학교 연극영화과 90학번) 선배를 알려주더라구요. 그 선배의 이야기를 보니까, 아득한 목표처럼 보였던 할리우드가 왠지 노력하면 정말 될 것 같기도
                            하겠다는 생각이 들었습니다. 그 친구는 단지 본인이 잘나서라기보다, 단순히 할리우드를 간 선배가 존재하고 있다는 이유 자체로 커다란 동기부여를 받을 수 있었습니다.
                            그 선배의 존재가 ‘피할 수 없는’ 전기충격을 ‘피할 수 있는’ 것으로 인지케 했으니, 그 친구는 이제 많은 것을 바꿀 수 있을 겁니다.
                        </section>
                    </div>
                </div>
                <div class="about_posting_info_p about_posting_info_p_second hideen">
                    <div class="about_posting_info_p_title about_right">
                        인생은 새옹지마
                    </div>
                    <div class="about_posting_info_p_p">
                        <section style="margin-bottom: 2%;" class="about_posting_info_p_p_first">
                            인생은 한 치 앞을 볼 수 없는 안갯속과 같아서, 날다 보면 언제, 어디에, 어떻게 부딪힐지 모릅니다. 주변을 보면, 못생겨서 여러 별명이 있었던 10년 전 친구는
                            지금 7만원 티켓도 금세 매진시키는 유명 밴드 뮤지션이 됐고, 6년 전 만난 개구쟁이 동생은 백만 유튜버가 됐으며, 4년 전 만난 소심한 동기는 매우 유명한 소속사의
                            배우가 되었습니다.
                        </section>
                        <section class="about_posting_info_p_p_second">
                            아, 이게 너무 소수의 이야기라면, 다른 친구들도 보죠. 학점 2점대를 받고 속상해하던 친구는 방송국 시사 PD가 됐고, 롤에
                            빠져 살던 친구는 장학금을 받고 해당 전공에서 가장 이름 높은 유럽의 대학원으로 유학길을 걷고, 싱어송라이터가 되겠다던 경찰행정학과 친구는 앨범을 내놓고 라디오까지
                            타더니 개발자로 전향해 음반 회사에서 일하고 있습니다. 집안이 어려워서 대학교를 때려친 친구는 피자집을 차려서 벌써 선방하고 있고, 수능 영어가 6등급이던 친구는
                            캐나다에서 직장을 잡았고, 예능 PD가 되겠다고 몇 년 동안 외치던 친구가 정말로 엠넷 예능 PD를 합격하고, 쟤는 뭘 해도 되겠다, 싶었던 동기는 그가 원하던
                            대기업 영화사에 들어갔습니다. 세상에는 정말 다양하게, 그들만의 이야기를 써나가는 친구들이 많습니다.
                        </section>
                    </div>
                </div>
                <div style="margin-bottom: 17%;" class="about_posting_info_p about_posting_info_p_thrid hideen">
                    <div class="about_posting_info_p_title">
                        그들의 공통점
                    </div>
                    <div class="about_posting_info_p_p">
                        <section class="about_posting_info_p_p_first">
                            그들은 모두 목표를 갖고 도전했다는 공통점이 있습니다. 남들이 ‘그건 웬만하면 불가능해’라고 말할 때, ‘나는 할 수 있어'라고 믿는 동기가 분명 동반했을 거라고
                            생각합니다 그 ‘동기'라는 것은 스스로 만들어지기도 하는
                            반면, 타인에 의해 만들어지기도 하죠. 같은 길을 걸었던 사람 중 실제로 그걸 이룬 사람을 보면 그 동기가 더욱 커지는 것 같습니다. ‘학점이 낮아서 난 못 해’
                            라고 믿는 것과, ‘학점이 낮아도 할 수 있구나'라고 믿는 것은 큰 차이가 있습니다. 후자를 많이 접하게 되면, 그만큼 나의 가능성을 새롭게 정의하고, 그만큼
                            동기부여를 받게 되는 셈이죠. 지금 우리는 못하고 있는 것 같지만, 우리보다 더 못했던 사람들도 생각보다 멋지고 다양한 일을 하면서 살아가고 있으니깐요. 동국대
                            선배들은 꽤 멋지고 다양한 사람들이 있고, 그들의 이야기를 필요로 하는 학우들도 많을 것입니다.
                        </section>
                    </div>
                </div>
                <div style="margin-top: 10%;" class="about_posting_info_p about_posting_info_p_last hideen">
                    <div class="about_posting_info_p_title_last">
                        MANHAECLUB
                    </div>
                    <div class="about_posting_info_p_p about_posting_info_p_title_last_p">
                        <section class="about_posting_info_p_p_first">
                            이 서비스는 그들의 이야기를 통해 용기를 더 낼 준비가 되어 있는
                            대학생들을 위한 서비스입니다. 우리의 선배가 어떤 일을 하면서 지내고 있는지 선배가 스스로 소개하는 커뮤니티 기반 서비스입니다. 선배는 어떤 분야에서, 어떤 직무로
                            근무하는지, 대학 생활은 어떻게
                            보냈는지 소통합니다. 학과까지만 공개된 선배와 이름까지 공개가 가능한 재학생은 게시글과 댓글로 소통하며, 선배는 의사에 따라 유료로 글을 공개할 수 있습니다.
                            동국대학교 취업센터와 연계하여 서비스를 확장하거나 선배/기업의 풀을 넓힐 수 있습니다.
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <div class="about_divider hideen"></div>
        <section class="about_us">
            <div class="about_us_profile_t hideen">
                About Us
                <a href="https://github.com/assayw119/Simbathon_Roadhero"><i class="fa-brands fa-github"></i></a>
            </div>
            <section class="about_us_profile about_DD hideen">
                <div class="about_us_profile_title">Direct/Design</div>
                <div class="about_us_profile_section">
                    <div class="about_us_profile_item">
                        <img class="about_us_profile_item_img" src="{% static 'images/phw.png'%}" alt="">
                        <div class="about_us_profile_item_name">
                            <div class="about_us_profile_item_kr">박현웅</div>
                            <div class="about_us_profile_item_eg">Hyunwoong Park</div>
                        </div>
                        <div class="about_us_profile_item_major">
                            <p>영화영상학과/광고홍보학과</p>
                        </div>
                        <div class="about_us_profile_item_footer">
                            <div>ENTJ</div>
                            <a href="https://github.com/hwpresent"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about_us_profile about_FE hideen">
                <div class="about_us_profile_title">FE Developer</div>
                <div class="about_us_profile_section">
                    <div class="about_us_profile_item">
                        <img class="about_us_profile_item_img" src="{% static 'images/lsd.png'%}" alt="">
                        <div class="about_us_profile_item_name">
                            <div class="about_us_profile_item_kr">이상돈</div>
                            <div class="about_us_profile_item_eg">Sangdon Lee</div>
                        </div>
                        <div class="about_us_profile_item_major">
                            <p>산업시스템공학과/컴퓨터공학과</p>
                        </div>
                        <div class="about_us_profile_item_footer">
                            <div>ISFJ</div>
                            <a href="https://github.com/leeideal"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                    <div class="about_us_profile_item">
                        <img class="about_us_profile_item_img" src="{% static 'images/ydh.png'%}" alt="">
                        <div class="about_us_profile_item_name">
                            <div class="about_us_profile_item_kr">유다현</div>
                            <div class="about_us_profile_item_eg">Dahyeon Yoo</div>
                        </div>
                        <div class="about_us_profile_item_major">
                            <p>경영정보학과/융합소프트웨어</p>
                        </div>
                        <div class="about_us_profile_item_footer">
                            <div>ESTJ</div>
                            <a href="https://github.com/Dahyeonni "><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about_us_profile about_BE hideen">
                <div class="about_us_profile_title">BE Developer</div>
                <div class="about_us_profile_section">
                    <div class="about_us_profile_item">
                        <img class="about_us_profile_item_img" src="{% static 'images/pyw.png'%}" alt="">
                        <div class="about_us_profile_item_name">
                            <div class="about_us_profile_item_kr">박영웅</div>
                            <div class="about_us_profile_item_eg">Youngwoong Park</div>
                        </div>
                        <div class="about_us_profile_item_major">
                            <p>산업시스템공학과/데이터사이언스</p>
                        </div>
                        <div class="about_us_profile_item_footer">
                            <div>ESFJ</div>
                            <a href="https://github.com/assayw119"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                    <div class="about_us_profile_item">
                        <img class="about_us_profile_item_img" src="{% static 'images/pys.png'%}" alt="">
                        <div class="about_us_profile_item_name">
                            <div class="about_us_profile_item_kr">박영신</div>
                            <div class="about_us_profile_item_eg">Youngshin Park</div>
                        </div>
                        <div class="about_us_profile_item_major">
                            <p>영어영문학부</p>
                        </div>
                        <div class="about_us_profile_item_footer">
                            <div>INFJ</div>
                            <a href="https://github.com/dudtlstm "><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                    <div class="about_us_profile_item">
                        <img class="about_us_profile_item_img" src="{% static 'images/kny.png'%}" alt="">
                        <div class="about_us_profile_item_name">
                            <div class="about_us_profile_item_kr">김나연</div>
                            <div class="about_us_profile_item_eg">Nayeon Kim</div>
                        </div>
                        <div class="about_us_profile_item_major">
                            <p>식품산업관리학과/융합소프트웨어</p>
                        </div>
                        <div class="about_us_profile_item_footer">
                            <div>INTP</div>
                            <a href="https://github.com/nyeon0000"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </section>

        </section>
    </section>
</div>
<script src="{% static 'js/about.js'%}"> </script>

{% endblock %}