{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>EDIT MY COMMUNITY POST</h1>
    <form action="{% url 'main:community_update' community.id%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <p>제목 : <input type="text" name="title" value="{{community.title}}"></p>
        <p>카테고리
            <select name="category">
                <option value="질문">질문</option>
                <option value="정보">정보</option>
                <option value="생활">생활</option>
                <option value="기타">기타</option>
            </select>
        </p>
        <p>내용 : <textarea name="body" id="" cols="30" rows="10" >{{community.body}}</textarea></p>
        <p>사진 : <input type="file" name="image"></p>
        <input type="submit" value="확인">
    </form>

{% endblock %}