{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="background">
    <section class="title">
        <p>COMMUNITY</p>
    </section>
    {% if first %}
    <section class="community_new_post">
        <div class="community_new_post_title">
            <p>금주의 따땃한 게시물</p>
        </div>
        <a href="{% url 'main:community_detail' first.id %}" class="community_posting_body_post_itme_inner"
            style="text-decoration:none">
            <div class="community_new_post_posting">
                <img class="community_new_post_posting_img"
                    src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                    alt="">
                <div class="community_new_post_posting_item">
                    <div class="community_new_post_posting_item_title">{{first.title}}</div>
                    <div class="community_new_post_posting_item_major">{{first.writer.profile.major}}
                        {{first.writer.profile.student_number}}</div>
                    <div class="community_new_post_posting_item_summary">{{first.summary}}</div>
                    <div class="community_new_post_item_footer">
                        <div class="community_new_post_posting_item_date">{{first.pub_date}}</div>
                        <div class="community_posting_body_post_item_footer_item">
                            <div class="community_post_item_info_user">
                                <i class="fa-solid fa-eye"></i>
                                <p>{{first.view_users}}</p>
                            </div>
                            <div class="community_post_item_info_user">
                                <i class="fa-solid fa-heart"></i>
                                <p>{{first.like_users.count}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </section>
    {% endif %}
    <section class="community_posting">
        <div class="community_posting_head">
            <div class="community_posting_head_title">
                <p>게시물</p>
            </div>
            <form class="community_button_form" method="get" action="{% url 'main:community' %}">
                {% csrf_token %}
                <section class="community_button">
                    <button type="submit" value="all" class="btn" name="community">전체</button>
                    <button type="submit" value="질문" class="btn" name="community">질문</button>
                    <button type="submit" value="정보" class="btn" name="community">정보</button>
                    <button type="submit" value="생활" class="btn" name="community">생활</button>
                    <button type="submit" value="기타" class="btn" name="community">기타</button>
                </section>
            </form>
            <section class="community_search">
                <form id="search" method="post" action="{% url 'main:community_search' %}">
                    {% csrf_token %}
                    <input type="text" name="search_word" class="search_input" type="submit" label="Search Word"
                        value="{{search_term}}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </section>
        </div>
        <div class="community_posting_body">
            {% if communities %}
            {% for community in communities %}
            <a href="{% url 'main:community_detail' community.id %}" class="community_posting_body_post_itme_inner"
                style="text-decoration:none">
                <div class="community_posting_body_post_item">
                    <div class="community_posting_body_post_item_head">
                        <p>{{community.category}}</p>
                        <p>{{community.pub_date}}</p>
                    </div>
                    <div class="community_posting_body_post_item_title">
                        <p>{{community.title}}</p>
                    </div>
                    <div class="community_posting_body_post_item_summary">
                        <p>{{community.summary}}</p>
                    </div>
                    <div class="community_posting_body_post_item_footer">
                        <div class="community_posting_body_post_item_footer_item">
                            <p>{{community.writer}}</p>
                            <p>{{community.writer.profile.major}} {{community.writer.profile.student_number}}</p>
                        </div>
                        <div class="community_posting_body_post_item_footer_item">
                            <div class="community_post_item_info_user">
                                <i class="fa-solid fa-eye"></i>
                                <p>{{community.view_users}}</p>
                            </div>
                            <div class="community_post_item_info_user">
                                <i class="fa-solid fa-heart"></i>
                                <p>{{community.like_users.count}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% else %}
            <p>not found</p>
            {% endif %}
        </div>
    </section>
    {% if user.is_authenticated %}
    <a href="{% url 'main:community_new' %}">
        <img class="toWrite" src="{% static 'images/toWrite.png' %}" alt="">
    </a>
    {% else %}
    <a onclick="warning()" href="{% url 'accounts:login' %}">
        <img class="toWrite" src="{% static 'images/toWrite.png' %}" alt="">
    </a>
    {% endif %}
</div>

<script>
    function warning() {
        window.alert("로그인 이후에 사용가능하십니다!")
    }
</script>

{% endblock %}