{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="background">
    <section class="title">
        <p>COMMUNITY</p>
    </section>
    <section class="button">
        <div class="btn">
            <div>전체</div>
        </div>
        <div class="btn">
            <div>질문</div>
        </div>
        <div class="btn">
            <div>정보</div>
        </div>
        <div class="btn">
            <div>생활</div>
        </div>
        <div class="btn">
            <div>기타</div>
        </div>
    </section>
    <section class="search">
        <form action="">
            <input class="search_input" type="text">
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
    </section>
    <section class="posting">
        {% for community in communities %}
        <div class="post_item">
            <a href="{% url 'main:community_detail' community.id %}" class="post_itme_inner" style="text-decoration:none">
                <div class="post_itme_inner_s">
                    <section class="post_item_title">
                        <p class="post_item_title_title">{{community.title}}</p>
                    </section>
                    <section>
                        <p>{{community.summary}}</p>
                    </section>
                    <section class="post_item_info">
                        <p class="post_item_info_name">{{community.writer}}</p>
                        <p class="post_item_info_major">전공</p>
                        <!--전공 정보 필요!!-->
                    </section>
                </div>
            </a>
        </div>
        {% endfor %}
    </section>
    <p><a href="">글쓰기</a></p>
</div>

{% endblock %}