{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="background">
    <section class="detail_posting_s">
        <div class="detail_posting">
            <p class="detail_posting_title">{{post.title}}</p>
            <div class="detail_posting_info">
                <p class="detail_posting_info_major">{{post.writer.profile.major}}</p>
                {% if post.writer %}
                {% if 'user' in post.writer.username %}
                <p class="detail_posting_info_writer">{{ post.writer.last_name }} {{ post.writer.first_name }}</p>
                {% else %}
                <p class="detail_posting_info_writer">{{ post.writer }}</p>
                {% endif %}
                {% else %}
                <p class="detail_posting_info_writer">작성자 : 알 수 없음</p>
                {% endif %}
                <!--전공 정보 필요!!-->
            </div>
            {% if post.image %}
            <img class="detail_posting_img" src="{{post.image.url}}" alt="사진">
            {% endif %}
            <p class="detail_posting_body">
                {{post.body}}
            </p>
            <!--문단 구분 안감!!-->
            <div class="detail_posting_footer">
                <p class="detail_posting_footer_category">category : {{post.category}}</p>
                <p class="detail_posting_footer_date">작성일자 : {{post.pub_date}}</p>
            </div>
            <!-- 좋아요 -->
            <form action="{% url 'main:likes' post.id %}" method="POST">
                <div class="detail_posting_footer">
                    {% csrf_token %}
                    <p>조회수 : {{post.view_users}}</p>
                    <p>좋아요 수 : {{post.like_users.count}}</p>
                    {% if user in post.like_users.all %}
                    <input type="submit" value='좋아요 취소'>
                    {% else %}
                    <input type="submit" value="좋아요">
                    {% endif %}
                </div>
            </form>
        </div>
    </section>
    <!-- 댓글 -->
    <div>
        <form action="{%url 'main:comment_create' post.id%}" method="POST">
            {%csrf_token%}
            <textarea name="content" placeholder="댓글내용입력"></textarea>
            <input type="submit" value="확인">
        </form>
    </div>
    <div class="detail_comment">
        {% for comment in comments %}
        <div>
            {% if 'user' in comment.writer.username %}
            <h6>작성자 : {{ comment.writer.last_name }} {{ comment.writer.first_name }}</h6>
            {% else %}
            <h6>작성자 : {{ comment.writer }}</h6>
            {% endif %}
        {{comment.content}}<br>
            {% if user == comment.writer %}
            <a href="{% url 'main:comment_edit' comment.id %}">댓글 수정</a>
            <a href="{% url 'main:comment_delete' comment.id %}">댓글 삭제</a>
            {% endif %}
        <hr>
        </div>
        {% endfor %}
    </div>

    <div class="detail_back">
        <a href="{% url 'main:showmain' %}">
            목록
        </a>
    </div>
    </a>
</div>

{% endblock %}