{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="background">
    <section class="detail_posting_s" style="border-radius: 15px">
        <div class="detail_posting">
            <div class="community_detail_posting_category">
                <div class="community_detail_category_category">
                    {{post.category}}
                </div>
                <!--수정 삭제-->
                <div class="community_detail_category_change">
                    {% if user == post.writer %}
                    <div class="community_detail_category_edit">
                        <a style="text-decoration: none" href="{% url 'main:detail_edit' post.id%}">
                            수정
                        </a>
                    </div>
                    <div class="community_detail_category_delete">
                        <a style="text-decoration: none" href="{% url 'main:detail_delete' post.id%}">
                            삭제
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!--수정 삭제 끝-->
            <p class="detail_posting_title">{{post.title}}</p>
            <div class="detail_posting_info">
                <p class="detail_posting_info_major">{{post.writer.profile.major}}
                    {{post.writer.profile.student_number}}</p>
                {% if post.writer %}
                {% if 'user' in post.writer.username %}
                <p class="detail_posting_info_writer">{{ post.writer.last_name }} {{ post.writer.first_name }}</p>
                {% else %}
                <p class="detail_posting_info_writer">{{ post.writer }}</p>
                {% endif %}
                {% else %}
                <p class="detail_posting_info_writer">작성자 : 알 수 없음</p>
                {% endif %}
                <!--전공 정보 필요!!-->
            </div>
            {% if post.image %}
            <img class="detail_posting_img" src="{{post.image.url}}" alt="사진">
            {% endif %}
            <p class="detail_posting_body">
                {{post.body|linebreaksbr}}
            </p>

            <!--문단 구분 안감!!-->
            <div class="detail_posting_footer">
                <div class="detail_posting_footer_category">
                    <i class="fa-solid fa-eye detail_posting_footer_category_i"></i>
                    <p>{{post.view_users}}</p>
                </div>
                <p class="detail_posting_footer_date">작성일자 : {{post.pub_date}}</p>
            </div>
            <!-- 좋아요 -->
            {% if user.is_authenticated %}
            <form class="detail_posting_like_form" action="{% url 'main:likes' post.id %}" method="POST">
                <div class="detail_posting_like">
                    {% csrf_token %}
                    <div class="detail_posting_like_count">{{post.like_users.count}}</div>
                    {% if user in post.like_users.all %}
                    <i class="fa-solid fa-heart fa-4x detail_d_like"></i>
                    {% else %}
                    <i class="fa-solid fa-heart fa-4x detail_like"></i>
                    {% endif %}
                </div>
            </form>
            {% else %}
            <div style="margin-bottom: 25px" class="detail_posting_comment_disable">좋아요는 로그인 후에!</div>
            {% endif %}
        </div>
        <div class="detail_posting_comment">
            {% if user.is_authenticated %}
            <div class="detail_posting_comment_write">
                <div class="detail_posting_comment_write_info">
                    <div class="detail_posting_comment_write_info_name">{{user.username}}</div>
                    <div class="detail_posting_comment_write_info_major">{{user.profile.major}}
                        {{user.profile.student_number}}</div>
                </div>
                <form class="detail_posting_comment_write_form" action="{%url 'main:comment_create' post.id%}"
                    method="POST">
                    {%csrf_token%}
                    <textarea required class="detail_posting_comment_write_input" name="content"
                        placeholder="댓글내용입력"></textarea>
                    <input class="detail_posting_comment_write_submit" type="submit" value="확인">
                </form>
            </div>
            {% else %}
            <div class="detail_posting_comment_disable">댓글 입력은 로그인 이후에 이용하실 수 있습니다.</div>
            {% endif %}
            <div class="detail_posting_divider"></div>
            <div class="detail_posting_comment_length">댓글 {{comments|length}}개</div>
            <div class="detail_posting_comment_items">
                {% for comment in comments %}
                <div class="detail_posting_comment_items_item">
                    <section class="detail_posting_comment_items_item_info">
                        <div class="detail_posting_comment_items_item_info_first">
                            {% if 'user' in comment.writer.username %}
                            <div class="detail_posting_comment_items_item_info_first_name">{{ comment.writer.last_name
                                }}
                                {{ comment.writer.first_name }}</div>
                            <div class="detail_posting_comment_items_item_info_first_major">
                                {{comment.writer.profile.major}} {{comment.writer.profile.student_number}}</div>
                            {% else %}
                            <div class="detail_posting_comment_items_item_info_first_name">{{ comment.writer }}</div>
                            <div class="detail_posting_comment_items_item_info_first_major">
                                {{comment.writer.profile.major}} {{comment.writer.profile.student_number}}</div>
                            {% endif %}
                        </div>
                        <div class="detail_posting_comment_items_item_info_second">
                            {% if user == comment.writer %}
                            <i onclick="showValue(this)" class="fa-solid fa-pen-to-square"
                                id="detail_comment_{{comment.id}}" value="
                                d"></i>
                            <a onclick="goBackScrollPoint();" class="detail_posting_comment_items_x"
                                href="{% url 'main:comment_delete' comment.id %}"><i class="fa-solid fa-x"></i></a>
                            {% endif %}
                        </div>
                    </section>
                    <section class="detail_posting_comment_items_item_content">
                        <p>{{comment.content}}</p>
                    </section>
                    <section class="detail_posting_comment_items_item_date">
                        <p>{{comment.created_at}}</p>
                    </section>
                    <div class="hide detail_posting_comment_edit detail_comment_{{comment.id}}">
                        <i
                            class="fa-solid fa-x detail_comment_{{comment.id}}_x detail_posting_comment_write_edit_x"></i>
                        <form class="detail_posting_comment_write_edit_form"
                            action="{%url 'main:comment_update' comment.id%}" method="POST">
                            {%csrf_token%}
                            <textarea required class="detail_posting_comment_write_edit_input"
                                name="content">{{comment.content}}</textarea>
                            <input class="detail_posting_comment_write_edit_submit" type="submit" value="수정">
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- 댓글 -->

    <div style="margin-bottom: 50px;" class="detail_back">
        <a href="{% url 'main:showmain' %}">
            목록
        </a>
    </div>
    </a>
</div>

<script>
    // 좋아요 전송 효과
    const like = document.querySelector(".fa-heart")
    const like_form = document.querySelector(".detail_posting_like_form")
    like.addEventListener("click", function (event) {
        like_form.submit();
        goBackScrollPoint();
    })

    const showValue = (target) => {
        console.log(target.id);
        const haha_delete = document.querySelector(`.${target.id}_x`)
        const haha = document.querySelector(`.${target.id}`);
        console.log(haha);
        haha.classList.remove("hide");
        haha_delete.addEventListener("click", function () {
            haha.classList.add("hide");
        })
    }


</script>

{% endblock %}