{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="detail_background">
    <section class="detail_posting_s">
        <div class="detail_posting">
            <p class="detail_posting_title">{{post.title}}</p>
            <div class="detail_posting_info">
                <p class="detail_posting_info_major">철학과 15</p>
                {% if post.writer %}
                {% if 'user' in post.writer.username %}
                <p class="detail_posting_info_writer">{{ post.writer.last_name }} {{ post.writer.first_name }}</p>
                {% else %}
                <p class="detail_posting_info_writer">{{ post.writer }}</p>
                {% endif %}
                {% else %}
                <p class="detail_posting_info_writer">작성자 : 알 수 없음</p>
                {% endif %}
                <!--전공 정보 필요!!-->
            </div>
            {% if post.image %}
            <img class="detail_posting_img" src="{{post.image.url}}" alt="사진">
            {% endif %}
            <p class="detail_posting_body">
                {{post.body}}
            </p>
            <!--문단 구분 안감!!-->
            <div class="detail_posting_footer">
                <p class="detail_posting_footer_category">category : {{post.category}}</p>
                <p class="detail_posting_footer_date">작성일자 : {{post.pub_date}}</p>
            </div>
        </div>
    </section>
    <a href="{% url 'main:showmain' %}"></a>
    <div class="detail_back">목록
    </div>
    </a>
</div>

{% endblock %}