<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/intro_p.css' %}">
    <title>MANHAECLUB</title>
</head>

<body>
    <section class="first">
        <div>
            <img class="large_arcticons" src="{% static 'images/arcticons.png'%}" alt="">
        </div>
        <div class="first_title">MANHAECLUB</div>
        <div class="firstcontent content right">
            <div>우리 가장 가까이 있었던 <br>
                모든 이야기</div>
            <div>
                <img class="small_arcticons" src="{% static 'images/arcticons.png'%}" alt="">
                <div>만해클럽</div>
            </div>
        </div>
    </section>
    <section class="second other hide">
        <div class="content left">
            <div>동국의 동문들이 전하는 <br>
                생생 취업 이야기</div>
            <div>
                <img class="small_arcticons" src="{% static 'images/arcticons.png'%}" alt="">
                <div>만해클럽</div>
            </div>
        </div>
    </section>
    <section class="third other hide">
        <div class="content right">
            <div>우리가 무슨 민족입니까! <br>
                열정만해 창업 이야기</div>
            <div>
                <img class="small_arcticons" src="{% static 'images/arcticons.png'%}" alt="">
                <div>만해클럽</div>
            </div>
        </div>
    </section>
    <section class="fourth other hide">
        <div class="content left">
            <div>석사아코도 사람이다!<br>
                참 인간적인 진학 이야기</div>
            <div>
                <img class="small_arcticons" src="{% static 'images/arcticons.png'%}" alt="">
                <div>만해클럽</div>
            </div>
        </div>
        <div class="intro_start content right">
            <a class="intro_start_a" href="{% url 'main:showmain' %}">시작하기</a>
        </div>
    </section>
</body>
<script src="{% static 'js/intro.js'%}"> </script>

</html>