{% extends 'base.html' %}
{% load static %}




{% block content %}

<h1 style="text-align: center;"> MANHAECLUB </h1>

<div id="cards-box" class="card-columns">
    <div style="align-items: center;">
        <div class="card">
            <img src="{% static 'images/images.jpeg' %}" alt="Card image cap">
            <div class="card-body">
                <a target="_blank" href="#" class="card-title">박0웅</a>
                <p class="card-text">내가 하고 싶은 일을 하기 위해 용기 내는 법</p>
                <p class="card-text comment">국어국문문예창작 16</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/images.jpeg' %}" alt="Card image cap">
            <div class="card-body">
                <a target="_blank" href="#" class="card-title">박0웅</a>
                <p class="card-text">내가 하고 싶은 일을 하기 위해 용기 내는 법</p>
                <p class="card-text comment">국어국문문예창작 16</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/images.jpeg' %}" alt="Card image cap">
            <div class="card-body">
                <a target="_blank" href="#" class="card-title">박0웅</a>
                <p class="card-text">내가 하고 싶은 일을 하기 위해 용기 내는 법</p>
                <p class="card-text comment">국어국문문예창작 16</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/images.jpeg' %}" alt="Card image cap">
            <div class="card-body">
                <a target="_blank" href="#" class="card-title">박0웅</a>
                <p class="card-text">내가 하고 싶은 일을 하기 위해 용기 내는 법</p>
                <p class="card-text comment">국어국문문예창작 16</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/images.jpeg' %}" alt="Card image cap">
            <div class="card-body">
                <a target="_blank" href="#" class="card-title">박0웅</a>
                <p class="card-text">내가 하고 싶은 일을 하기 위해 용기 내는 법</p>
                <p class="card-text comment">국어국문문예창작 16</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/images.jpeg' %}" alt="Card image cap">
            <div class="card-body">
                <a target="_blank" href="#" class="card-title">박0웅</a>
                <p class="card-text">내가 하고 싶은 일을 하기 위해 용기 내는 법</p>
                <p class="card-text comment">국어국문문예창작 16</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

