{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="background">
    <section class="title">
        <p>MANHAECLUB</p>
    </section>
    <form class="button_form" id="magazine" method="get" action="{% url 'main:showmain' %}">
        {% csrf_token %}
        <section class="button">
            <button type="submit" value="all" class="btn" name="magazine">전체</button>
            <button type="submit" value="취업" class="btn" name="magazine">취업</button>
            <button type="submit" value="창업" class="btn" name="magazine">창업</button>
            <button type="submit" value="진학" class="btn" name="magazine">진학</button>
            <button type="submit" value="기타" class="btn" name="magazine">기타</button>
        </section>
    </form>
    <section class="search">
        <form id="search" method="post" action="{% url 'main:search' %}">
            {% csrf_token %}
            <input type="text" name="search_word" class="search_input" type="submit" label="Search Word" value="{{search_term}}">
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
    </section>
    <section class="posting">
        {% if posts %}
            {% for post in posts %}
            <div class="post_item">
                <a href="{% url 'main:detail' post.id %}" class="post_itme_inner" style="text-decoration:none">
                    <div class="post_itme_inner_s">
                        <img class="post_item_img" src="{{post.image}}" alt="Card image cap">
                        <section class="post_item_title">
                            <p class="post_item_title_title">{{post.title}}</p>
                        </section>
                        <section class="post_item_info">
                            <p class="post_item_info_name">{{post.writer}}</p>
                            <p class="post_item_info_major">{{post.writer.profile.major}} {{post.writer.profile.student_number}}</p>
                            <!--전공 정보 필요!!-->
                        </section>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <p>not found</p>
        {% endif %}
    </section>
    <a href="{% url 'main:new' %}">
        <img class="toWrite" src="{% static 'images/toWrite.png' %}" alt="">
    </a>
</div>

{% endblock %}