{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<div id="background" class="writing_background">
    <section class="writing_head_title">
        <div>Community 글쓰기</div>
    </section>
    <form class="writing" action="{% url 'main:community_create' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <section class="writing_title">
            <div class="writing_titles">제목</div>
            <input type="text" name="title" placeholder="제목을 입력해주세요">
        </section>
        <section class="writing_category">
            <div class="writing_titles">카테고리</div>
            <p>
                <select name="category">
                    <option value="질문">질문</option>
                    <option value="정보">정보</option>
                    <option value="생활">생활</option>
                    <option value="기타">기타</option>
                </select>
            </p>
        </section>
        <section class="writing_body writing_bottom">
            <div class="writing_titles">내용</div>
            <textarea name="body" id="" cols="30" rows="10" placeholder="내용을 입력해주세요"></textarea>
        </section>
        <section class="writing_img writing_bottom">
            <div class="writing_titles">사진</div>
            <div class="filebox bs3-primary preview-image">
                <input class="upload-name" value="파일선택" disabled="disabled" style="width: 200px;">
                <label for="input_file">업로드</label>
                <input type="file" name="image" id="input_file" class="upload-hidden">
            </div>
        </section>
        <button class="writing_submit" type="submit">제출</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        var fileTarget = $('.filebox .upload-hidden');

        fileTarget.on('change', function () {
            if (window.FileReader) {
                var filename = $(this)[0].files[0].name;
            }

            else {
                var filename = $(this).val().split('/').pop().split('\\').pop();
            };

            $(this).siblings('.upload-name').val(filename);
        });

        var imgTarget = $('.preview-image .upload-hidden');

        imgTarget.on('change', function () {
            var parent = $(this).parent();
            parent.children('.upload-display').remove();

            if (window.FileReader) {
                if (!$(this)[0].files[0].type.match(/image\//)) return;

                var reader = new FileReader();
                reader.onload = function (e) {
                    var src = e.target.result;
                    parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img src="' + src + '" class="upload-thumb"></div></div>');
                }
                reader.readAsDataURL($(this)[0].files[0]);
            }

            else {
                $(this)[0].select();
                $(this)[0].blur();
                var imgSrc = document.selection.createRange().text;
                parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img class="upload-thumb"></div></div>');

                var img = $(this).siblings('.upload-display').find('img');
                img[0].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\"" + imgSrc + "\")";
            }
        });
    });
</script>

{% endblock %}