{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="background" class="writing_background">
    <section class="writing_head_title">
        <div>Community 글쓰기</div>
    </section>
    <form class="writing" action="{% url 'main:community_create' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <section class="writing_title">
            <div class="writing_titles">제목</div>
            <input type="text" name="title" placeholder="제목을 입력해주세요">
        </section>
        <section class="writing_category">
            <div class="writing_titles">카테고리</div>
            <p>
                <select name="category">
                    <option value="질문">질문</option>
                    <option value="정보">정보</option>
                    <option value="생활">생활</option>
                    <option value="기타">기타</option>
                </select>
            </p>
        </section>
        <section class="writing_body writing_bottom">
            <div class="writing_titles">내용</div>
            <textarea name="body" id="" cols="30" rows="10" placeholder="내용을 입력해주세요"></textarea>
        </section>
        <button class="writing_submit" type="submit">제출</button>
    </form>
</div>

{% endblock %}