<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--navbar-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav_b.css' %}">
    <!--mainpage-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
    <!--detailpage-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail_page.css' %}">
    <!--community_mainpage-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/community_m.css' %}">
    <!--community_mainpage-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/community_detail.css' %}">
    <!--writing page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/writing.css' %}">
    <!--Dark Mode-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark.css' %}">
    <!--my page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
    <!--login page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_p.css' %}">
    <!--editinfo page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/editinfo.css' %}">
    <!--createinfo page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/createinfo.css' %}">
    <!--about page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/www/favicon.ico">
    <!-- og tag -->
    <meta property="og:title" content="MANHAECLUB" />
    <meta property="og:description" content="우리 가장 가까이 있었던 모든 이야기, 만해클럽" />
    <meta property="og:image" content="{% static 'images/logo.png' %}" />
</head>

<body>

    {% include 'shared/_navbar.html' %}

    {% block content %}

    {% endblock %}
    <script src="{% static 'js/dark.js'%}"> </script>
    <script src="{% static 'js/do_not_scroll.js'%}"> </script>
</body>

</html>