{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

<div id="background">
    <div class="title">
        <p>Login</p>
    </div>
    <div class="login_structure">
        <section class="login_structure_inner">
            <form class="login_structure_form" action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                <input required class="login_structure_form_item" type="text" placeholder="ID" name="username">
                <input required class="login_structure_form_item" type="password" placeholder="Password"
                    name="password">
                <div class="login_structure_form_check">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                </div>
                <input class="login_structure_form_submit" type="submit" value="Login">
                <a style="text-decoration: none" href="{% provider_login_url 'google' %}"
                    class="login_structure_form_submit_google_a">
                    <div class="login_structure_form_submit_google">
                        <i class="fab fa-google fa-fw"></i>
                        <div>Login with Google</div>
                    </div>
                </a>
            </form>
            <a style="text-decoration: none" class="small" href="{% url 'account_signup' %}">
                <div class="login_create_account">
                    회원가입
                </div>
            </a>
        </section>
    </div>
</div>

{% endblock %}