{% load static %}
<nav class="navbar">
  <div class="navbar_logo">
    <a class="navbar_logo_a" href="{% url 'main:showmain' %}">
      <img class="navbar_logo_img" src="{% static 'images/arcticons.png' %}" alt="">
      <img class="navbar_logo_imgs" src="{% static 'images/m_club.png' %}" alt="">
    </a>
  </div>
  <ul class="navbar_menu">
    <a style="text-decoration: none" class="nabvar_menu_category_one" href="{% url 'main:showmain' %}">
      <div class="navbar_menu_title">MANHAE<br />MAGAZINE</div>
    </a>
    <a style="text-decoration: none" href="{% url 'main:community' %}">
      <div class="navbar_menu_title">COMMUNITY</div>
    </a>
    <a onclick="warning()" style="text-decoration: none" href="#">
      <div class="navbar_menu_title">ETC</div>
    </a>
    <a onclick="warning()" style="text-decoration: none" href="#">
      <div class="navbar_menu_title">ABOUT</div>
    </a>
  </ul>
  <ul class="navbar_login">
    <i id="toggle_btn" style="cursor: pointer;" class="fa-solid fa-moon fa-2x"></i>
    {% if user.is_authenticated %}
      {% if not user.profile %}
        <a href="{% url 'accounts:newinfo' %}"><i class="fa-solid fa-circle-user fa-2x"></i></a>
        <a href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket fa-2x"></i></a>
      {% else %}
        <a href="{% url 'accounts:mypage' %}"><i class="fa-solid fa-circle-user fa-2x"></i></a>
        <a href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket fa-2x"></i></a>
      {% endif %}
    {% else %}
      <a href="{% url 'accounts:login' %}"><i class="fa-solid fa-right-to-bracket fa-2x"></i> </a>
    {% endif %}
  </ul>
</nav>

<script>
  function warning() {
    window.alert("준비 중입니다.")
  }
</script>