
<nav class="navbar">

  <div class="navbar__name">
    <a href="{% url 'main:showmain' %}"><p>MANHAECLUB</p></a>
    
    <!-- <p>@2022<br>LIKELION_SIMBATHON</p> -->
  
  </div>

  <ul class="navbar__menu">
    <li><a href="#">취업</a></li>
    <li><a href="#">창업</a></li>
    <li><a href="#">대학원</a></li>
    <li><a href="#">기타</a></li>   
    <li><a href="{% url 'main:new' %}">글쓰기</a></li>   
  </ul>
  
  <ul class="nav-item dropdown">
    {% if user.is_authenticated %}
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{user.username}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="{% url 'account_logout' %}">로그아웃</a></li>
      <li><a class="dropdown-item" href="{% url 'users:mypage' %}">Mypage</a></li>
    </ul>
    {% else %}
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      로그인
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="{% url 'accounts:login' %}">로그인</a></li>
      <li><a class="dropdown-item" href="{% url 'account_signup' %}">회원가입</a></li>
    {% endif %}
    </ul>
  </ui>

</nav>