<!DOCTYPE html>
<html lang="ko-kr">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/kitcode.js" crossorigin="anonymous"></script>
    <title>Nav Bar</title>
  </head>

  <body>
    <nav class="navbar">

      <div class="navbar__name">
        <a href="#"><p style = "color:#6A7BA2; font-size: 15px; font-family: 'Roboto'; font-style: normal;font-weight: 700;">MANHAECLUB</p></a>
        <br>
        <p style = "color:#6A7BA2; font-size: 8px; padding-left: 9.38%">@2022<br>LIKELION_SIMBATHON</p>
      
      </div>

      <ul class="navbar__menu">
        <li><a href="#">취업</a></li>
        <li><a href="#">창업</a></li>
        <li><a href="#">대학원</a></li>
        <li><a href="#">기타</a></li>   
      </ul>
      
      <a href="#" class="navbar__align">
      <i class="fa-thin fa-align-justify"></i>
      </a>

    </nav>
  </body>
</html>